<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xyz.doikki.customviewcollect">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="xyz.doikki.customviewcollect.wave.TestWaveActivity" />
        <activity android:name="xyz.doikki.customviewcollect.guide.TestGuideAcitivity" />
        <activity android:name="xyz.doikki.customviewcollect.circlemenu.TestMenuActivity" />
        <activity android:name="xyz.doikki.customviewcollect.like.TestLikeActivity" />
        <activity android:name="xyz.doikki.customviewcollect.dragmsg.TestBubbleActivity" />
        <activity android:name="xyz.doikki.customviewcollect.loading.TestLoadingActivity" />
        <activity
            android:name="xyz.doikki.customviewcollect.behavior.TestBehaviorActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="xyz.doikki.customviewcollect.alphabetindex.TestAlphabetActivity" />
        <activity android:name="xyz.doikki.customviewcollect.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="xyz.doikki.customviewcollect.qqstep.TestStepActivity" />
        <activity android:name="xyz.doikki.customviewcollect.trackcolor.TestTrackColorActivity" />
        <activity android:name="xyz.doikki.customviewcollect.progress.TestProgressActivity" />
        <activity android:name="xyz.doikki.customviewcollect.ruler.TestRulerActivity" />
        <activity android:name="xyz.doikki.customviewcollect.dashboard.TestDashBoardActivity"/>
    </application>

</manifest>